.layout {
    background-color:none;
    width: 100vw;
}

h1 {font-family:"Arial Rounded MT Bold";
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    margin: 0;
    padding: 0;}

h2 {font-family:"Arial Rounded MT Bold";
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    margin: 0;
    padding: 0;}

h3 {font-family:"Arial Rounded MT Bold";
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: black;
    line-height: 1.125;
    padding: 0;}

h4 {font-family: "Learning Curve";
    -webkit-font-smoothing: antialiased;
    letter-spacing: 2px;
    font-weight: bolder;}

h5 {font-family:"Arial Rounded MT Bold";
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;
    margin: 0;
    padding: 0;}

p{
    font-family:"ABC Helveesti Trial";
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: black;
    line-height: 1.125;}
        
a:link {text-decoration: none;}

img {width: 100%;}

::-moz-selection {color: red;
    background: none;}
  
::selection {color: red;
    background: none;}

a:visited {color: black;}



* {box-sizing: border-box;}
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  
    .home-links a {margin-right: 1em;}

    .div-1 {width: 100%;
        text-align: center;
        background-color: none}

    .div {display: inline-block;
        width: 100%;
        background-color: none;}

    .div-menu {
        background-color: none;
        text-align: left;
        width: 18vw;}

    .div-logo {background-color: none;
        text-align: right;
        width: 72vw;}





     /* desktop */
  @media (min-width: 72em) {
    .div-1 {background-color: none;
        width: 86vw;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 4em;}

    .div {background-color: none;}
    
    .div-menu {background-color:none;
        float: left;
        height: 9vw;
        text-align: left;
        width: 0vw;}
    
    .div-logo {background-color:none;
        text-align: center;
        width: 86vw;}

    
    h1 {font-size:calc(3.34em + .67vw);} 
    
    .Sidebar{position:fixed;
        margin-top:0em;
        opacity:100%;
        z-index:0;
        left:0vw;
        background-color: }

    .genres {background-color: none; margin-bottom: 3vw;}
    .side-1 {background-color: none; margin-bottom: 3vw;}
    .side-2 {background-color: none;}


}

  /* laptop */
  @media (max-width: 72em) {
    .div-1 {background-color: none;
        width: 90vw;
        margin: auto;
        margin-top: 2em;}

    .div {background-color: none;}
    
    .div-menu {background-color:none;
        float: left;
        height: 9vw;
        text-align: left;
        width: 0vw;}
    
    .div-logo {background-color:none;
        margin-bottom: 3em;
        float: right;
        text-align: center;
        width: 90vw;}

    h1 {font-size:calc(1.67em + 3vw);}
    
    h2 {background-color: none;
        margin-top: 1em;
        font-size: 1.67em;}  
    
    .Sidebar{position:fixed;
        margin-top:-1vw;
        opacity:100%;
        z-index:0;
        left:0vw;
        line-height:1.125em;
        background-color: none}
    
    h3{font-size: 1.67em;
        margin: 0;}   
        
    .genres {background-color: none; margin-bottom: 3vw;}
    .side-1 {background-color: none; margin-bottom: 3vwm;}
    .side-2 {background-color: none;}

    
        
    }


  /* mobile landscape */
  @media (max-width: 48em) {
    .div-1 {
        background-color:none;
        width: 90vw;
        margin-left: 5vw;
        margin-top: 3em;}

    .div {
        background-color:none;
        margin-bottom: 2em;}
    
    .div-menu {
        background-color:none;
        float: left;
        height: 9vw;
        text-align: left;
        width: 21vw;}
    
    .div-logo {
        background-color:none;
        float: right;
        text-align: right;
        width: 69vw;}
    
    h1 {font-size:3em;}
    
    h2 {background-color: none;
        margin-top: .8em;
        font-size: 1.67em;} 
        
    h3 {color: black;
        font-size: 1.67em;
        margin:0em;
        padding: 0em;}  
            
    .Sidebar{top:9em;
        border-radius:25px;
        left: 2vw;
        background-color: none;
        }

    .genres {background-color: none; margin-bottom: 3vw;}
    .side-1 {background-color: none; margin-bottom: 3vw;}
    .side-2 {background-color: none;}

    
    }


    @media (max-height: 33em) {
        .Sidebar{top:9em;
            border-radius:25px;
            left: 2vw;
            background-color: none;
            }
            }

  /* mobile landscape */
   @media (max-width: 33em) {
    .div-1 {
        background-color:none;
        width: 90vw;
        margin: auto;
        margin-top: 3em;}

    .div {background-color:none;
        margin-bottom: 2em;}
    
    .div-menu {background-color:none;
        float: left;
        height: 9vw;
        text-align: left;
        width: 24vw;}
    
    .div-logo {background-color:none;
        float: right;
        text-align: right;
        width: 66vw;}

    
    h1 {font-size: 9vw;}
    
    h2 {background-color: none;
        margin-top: .8em;
        font-size: 5vw;}
            
    h3 {font-size: 5vw;
        margin:0em;
        padding: 0em;}

    .Sidebar{
        top: 27vw;
        background-color: red;
        }

    .genres {background-color: none; margin-bottom: 3vw;}
    .side-1 {background-color: none; margin-bottom: 3vw;}
    .side-2 {background-color: none;}
    }


     /* mobile portrait */
    @media (max-width: 24em) {
    .div {background-color: none;
        margin-bottom: 0em;}
        
    .div-1 {display: flex;
        flex-wrap: wrap;
        width: 90vw;
        margin: auto;
        margin-top: 12vw;}
    
    .div-menu {background-color:none;
        height: 9vw;
        margin-bottom: 9vw;
        order: 2;
        margin-left: 0;
        flex: 50%;}
    
    .div-logo {order: 1;
        background-color: none;
        text-align: left;
        flex: 50%;}

    h1 {font-size: 12.34vw;}

    h2 {font-size: 7vw;
        margin-top: 0em;}

    h3 {font-size: 7vw;
        margin:0em;
        padding: 0em;}
    
   

    .Sidebar{border-radius:6vw;
        background-color: none;
        top:calc(27vw + 1.34em);
        height:calc(93vw + 1em);
        width:54vw;
        left: 1vw;
        box-shadow:2px 6px 6px 0 #000}

    .genres {background-color: none; margin-bottom: 3vw;}
    .side-1 {background-color: none; margin-bottom: 3vw;}
    .side-2 {background-color: none;}
     /* ends default shit */
}





